<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
  <application android:allowBackup="true" android:icon="@mipmap/appicon"
               android:label="@string/app_name" android:roundIcon="@android:drawable/toast_frame"
               android:supportsRtl="true">
  </application>
  <!-- 输入法基本功能不需要额外权限 -->
  <!-- Service 和 Activity 声明由 C# 特性自动生成 -->
</manifest>
